@{
    ViewData["Title"] = "Delete Account";
}
<h1>@ViewData["Title"]</h1>

<p>Delete</p>
<form method="post" action="@Url.Action("SubmitDelete", "Account")">
    Password: <input type="password" name="password" /> <br />
    <br />
    <input type="submit" value="Delete Account" class="submit" />

</form>