@{
    ViewData["Title"] = "Request Reset Pass";
}
<h1>@ViewData["Title"]</h1>

<p>Input your registered email</p>
<form method="post" action="@Url.Action("SubmitRequestResetPassword", "Account")">
    Email: <input type="email" name="email" /> <br />
    <br />
    <input type="submit" value="Submit" class="submit" />

</form>