@{
    ViewData["Title"] = "Reset Password";
}
<h1>@ViewData["Title"]</h1>

<p>Type New Password</p>
<form method="post" action="@Url.Action("SubmitNewPassword", "Account")">
    New Password: <input type="password" name="newPass" /> <br />
    Confirm New Password: <input type="password" name="newPass2" /> <br />
    Token:<input type="text" name="Token" />
    <br />
    <input type="submit" value="Submit" class="submit" />

</form>