@{
    ViewData["Title"] = "Read";
}
<h1>@ViewData["Title"]</h1>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnajx').click(function () {
               
                $.ajax({
                    url: "GetList",
                    type: 'post',
                    datatype: 'application/json',                    
                    success: function (data) {
                    },
                    error: function () {
                        alert('Ajax error!');
                    }
                });
            });
        });
    </script>
}
<p>Register</p>
<form>
    <input type="button" value="Submit GetList" id="btnajx" class="btn btn-sm btn-primary btn-block" />
</form>
